*

!.gitignore
!.bashrc
!.tmux.conf
!README.md

!.config

!.config/starship.toml

!.config/bat
!.config/bat/**

!.config/cava
!.config/cava/**

!.config/fuzzel
!.config/fuzzel/**

!.config/hypr
!.config/hypr/**

!.config/kitty
!.config/kitty/**

!.config/nvim
!.config/nvim/**

!.config/swaync
!.config/swaync/**

!.config/yazi
!.config/yazi/**

!.config/waybar
!.config/waybar/**

!.config/wlogout
!.config/wlogout/**


