*

!.gitignore
!.bashrc
!.tmux.conf
!README.md

!.config

!.config/cava
!.config/cava/*

!.config/fuzzel
!.config/fuzzel/*

!.config/hypr
!.config/hypr/*

!.config/kitty
!.config/kitty/*

!.config/nvim
!.config/nvim/*

!.config/swaync
!.config/swaync/*

!.config/waybar
!.config/waybar/*

!.config/wlogout
!.config/wlogout/*
