* {
	font-family: Agave Nerd Font, Roboto, Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #000;
	border: none;
	border-radius: 0;
}

window#waybar {
	background: transparent;
	border-bottom: 3px dotted black;
}

.modules-right .module {
	padding: 0 10px 0 0;
	margin: 0 5px 0 0;
}
