@import "mocha.css";

* {
	font-family: Agave Nerd Font, Roboto, Helvetica, Arial, sans-serif;
	border: none;
	border-radius: 0;
}

window#waybar, #workspaces button:not(.active) {
	background: transparent;
	color: @base;
}

#workspaces button.active {
	background: @base;
	border-radius: 0 0 50% 50%;
	color: @text;
}

#workspaces button {
	padding: 0 12px;
}

.modules-right .module {
	padding-right: 10px;
	margin-right: 5px;
}
