@import "../../mocha.css";

window {
	color: @text;
}

* {
	font-family: Agave Nerd Font, Roboto, Helvetica, Arial, sans-serif;
	border: none;
	border-radius: 0;
	background: transparent;
}

#workspaces button {
	padding: 0 12px;
}


#workspaces button.active {
	color: @subtext0;
}

#audio,
#connectivity,
#hardware,
#extra {
	padding-left: 15px;
}

.modules-right .module {
	padding-right: 15px;
}
