@import "../../mocha.css";

window {
	color: @text;
}

window#waybar {
	background: transparent;
	font-family: Agave Nerd Font, Roboto, Helvetica, Arial, sans-serif;
	border: none;
	border-radius: 0;
}

#workspaces button {
	padding: 0 12px;
}

#tray,
#clock,
#window,
#audio,
#connectivity,
#hardware,
#extra {
	background: @base;
	border-radius: 0 0 15px 15px;
	padding-left: 15px;
}

#workspaces {
	background: @base;
	border-radius: 0 0 15px 15px;
}

#workspaces button.active {
	background: @mauve;
	border-radius: 0 0 15px 15px;
}

#tray,
#clock,
#window,
.modules-right .module {
	padding-right: 15px;
}
